<style>
/* 如果你要 logo，可以保留这段，否则删掉 */
.site-title {
  font-size: 0;
}
.site-title::before {
  content: "";
  display: inline-block;
  width: 140px;
  height: 40px;
  background-image: url("{{ '/assets/logo.png' | relative_url }}");
  background-size: contain;
  background-repeat: no-repeat;
}

/* 正文链接：黑色 + 下划线 */
.page-content a,
.page-content a:visited {
  color: #000000;
  text-decoration: underline;
}
.page-content a:hover,
.page-content a:focus {
  color: #000000;
  text-decoration: underline;
}
</style>
